.col-forget {
  background-color:#D8D8D8 ;
  float: none;
  margin: 100px auto;
}
.col-forget p {
  color: #2E2E2E !important;
}
.col-forget label {
  color: #2E2E2E !important;
  font-weight: 500;
}
.col-forget h3 {
  font-family: arial;
  color: #2E2E2E !important;
  font-weight: 600;
}
.col-lgi {
  margin-top: 20px;
}
.col-regi {
  margin-top: 2px;
  margin-bottom: 20px;
}
