hr {
  border-color: #A4A4A4 !important;
}
h2 {
  font-family: arial !important;
  color: #2E2E2E !important;
  font-weight: 600 !important;
}
p {
  font-family: arial !important;
  color: #2E2E2E !important;
}
